/*
Colors:
  base:#51afbc
  #AEE5ED
  #7ACCD7
  #32929F
  #19808E
  */
body{
  background-image: url('../imgs/newTexture.png');
  font-family: Tahoma, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}
img{
  display:block;
  width:73%;
  margin:0 auto;
  margin-top: 30px;
  border-radius: 10px;
}
p{
  font-size: 14pt;
}
#signup{
  margin: 10px auto;
}
#imgBanner{
  width:100%;
  display:inline-block;
  text-align: center;
}
#logo{
  /*font-size: 4em;*/
  width:22%;
  /*background-color: #AEE5ED;*/
  margin-left: 20px;
  margin-top: 0px;
  padding: 10px;
  /*-webkit-text-stroke: 2px #32929F; */
}
#header{
  /*margin-top: -33px;*/
  width:100%;
  padding-right:10px;
  background-color: #19808E;
}
#logInForm{
  width:23%;
  margin-top:-18%;
  float:right;
  display:inline;
  margin-right: 20px;
}
/*This code is bad and i should feel bad but idk how to fix.*/
#logInSubmit{
  float:right;
}
#info{
  width:73%;
  margin: 10px auto;
  padding: 10px;
  /* border: 2px solid black; */
  border-radius: 10px;
  background-color: #f2f2f2;
}
#pop-up{
  display:none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #AEE5ED;
  margin:0 auto;
  border-radius: 10px;
  width:35%;
  padding:5px 10px;
  text-align: left;
}
h2{
  text-align: center;
}
